.general-information {
  flex-grow: 1;
}
.foto-personal {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.general-information {
  display: flex;
  flex-direction: column;
}
.third-part {
  width: calc((100% - 2 * 1em) / 3);
  padding: 70px 10px;
  text-align: center;
}
.btn {
  font-size: 15px;
}
.text_param {
  text-align: justify;
  font-size: 0.7rem;
  line-height: 2;
}
.foto-personal {
  margin: 20px;
  transition: 0.7s;
}
.authors-personal-data:hover .foto-personal {
  transform: scale(1.3);
}
.authors-personal-data .btn {
  margin: 20px;
  transition: 0.7s;
}
.authors-personal-data:hover .btn {
  transform: scale(1.3);
}
